* {
    font-weight: 200;
}
body {
    background-color: white
}
h1 {

    color:rgb(70, 70, 149)
}
li {
    background-color: white
    display: ;
}

h3{
   font-size: 30;
}
p{
    font-style: italic 200;
}
{h1
    font-size: 40;
}